---
const { title = "Montañismo Gastón Molina" } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{title}</title>
  </head>
  <body>
    <slot name="header" />
    <main><slot /></main>
    <slot name="footer" />
    <!-- Scripts globales -->
	<script>
    import "../../src/scripts/animaciones.js";
    import "../../src/scripts/slider-guias.js";
    import "../../src/scripts/navbar.js";
    import "../../src/scripts/consultas-form.js";
	</script>
  </body>
</html>